<mat-card style="width: 50%; margin: 50px auto">
    <mat-card-header style="background-color: black; color: white">
      <mat-card-title><p>Visualizacion de libros</p></mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="header-container">
        <h2>Biblioteca</h2>
          <div class="filter-container">
            <input matInput placeholder="filtro autor" />
          </div>      
      </div>
  
      <table
        mat-table
        [dataSource]="listaLibros"
        matSort
        class="mat-elevation-z5"
        style="margin: top 50px"
      >
        <!-- nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="nombreAutor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
          <td mat-cell *matCellDef="let row">{{ row.nombreAutor }}</td>
        </ng-container>
  
        <!-- autor Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <div class="button-container">
              <button mat-flat-button class="green-text" (click)="ver(row.id)">
                DETALLES
              </button>              
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator
      [pageSizeOptions]="[10, 20]"
      [pageSize]="10"
      showFirstLastButtons
      aria-label="Select page of periodic row"
    >
    </mat-paginator>
      <br />
    </mat-card-content>
  </mat-card>
  