<mat-card style="width: 60%; margin: 20px auto">
  <mat-card-header
    style="background-color: rgba(192, 134, 10, 0.945); color: white"
  >
    <mat-card-title><p>Librería</p></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="header-container">
      <h2>Detalles de Libros</h2>
    </div>

    <div class="book-card">
      <mat-card class="mat-elevation-z8" style="margin: 15px 0">
        <div>
          <h3>Nombre Libro: {{ librosid?.nombre }}</h3>
          <h3>Categoria: {{ librosid?.categoria }}</h3>
          <h3>Descripcion: {{ librosid?.descripcion }}</h3>
          <h3>Nombre de Autor: {{ librosid?.nombreautor }}</h3>
        </div>
        <h2>Comentarios</h2>
        <div>
          @for (c of librosid?.comentarios; track c) {
          <h4>Comentario: {{ c?.comentarios }}</h4>
          <h5>Usuario: {{ c?.usuario?.nombre }}</h5>
          <hr />
          }
        </div>
      </mat-card>
    </div>
  </mat-card-content>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 text-right">
    <button type="button" mat-raised-button color="warn" (click)="retornar()">Retornar</button>
    <br>
    <br>
    <button class="btn-space" mat-raised-button color="primary"
    (click)="nuevoComentario()">Nuevo Comentario</button>
  </div>
</mat-card>

