
    <div class="auth-container">
      <div class="row auth-main justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-sm-6 col-md-4">
          <!-- Card Container -->
          <mat-card class="auth-card">
            <div class="auth-wrapper">
              <h2 class="welcome-msg text-center">Bienvenido a ControlBox</h2>
              <h4 class="login-title text-center">Inicie Sesión aqui</h4>
              
              <!-- Formulario de login -->
              <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email Usuario</mat-label>
                      <input matInput formControlName="correo"/>
                      <mat-icon class="material-icons-outlined p-3" matSuffix>face</mat-icon>
                      <mat-error *ngIf="f['correo']?.hasError('required')">Email requerido</mat-error>
                      <mat-error *ngIf="f['correo']?.hasError('Email')">Email no válido</mat-error>
                    </mat-form-field>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Contraseña</mat-label>
                      <input matInput [type]="hide ? 'clave' : 'text'" formControlName="clave">
                      <mat-icon class="material-icons-outlined pwd-toggle p-3" matSuffix (click)="hide = !hide">
                        {{ hide ? 'visibility_off' : 'visibility' }}
                      </mat-icon>
                      <mat-error *ngIf="f['clave']?.hasError('required')">Contraseña requerida</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                
                <!-- Mostrar mensaje de error -->
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    
                <div class="container-auth-form-btn">
                  <div style="text-align:center">
                    <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                            class="auth-form-btn" type="submit">Iniciar Sesión</button>
                  </div>
                </div> 
              </form>
            </div>  
          </mat-card>
        </div>
      </div>
    </div>
    