<mat-card style="width: 30%; margin: 50px auto">
  <mat-card-header
    style="background-color:#00897B; color: rgb(247, 250, 252)"
  >
    <mat-card-title><h1>Comentar</h1></mat-card-title>
  </mat-card-header>
  <div class="auth-container">
    <div
      class="row auth-main justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <div class="col-sm-12 col-md-8">
        <!-- Card Container -->
        <mat-card class="auth-card">
          <div class="auth-wrapper">           
            <h3 class="login-title text-center">Deja aquí tu comentario</h3>
            <!-- Formulario de Nuevo -->
            <form
              class="validate-form"
              [formGroup]="authForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class="col-18 mb-6">
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <mat-label>Comentar</mat-label>
                    <input matInput formControlName="comentarios" />
                    <mat-icon class="material-icons-outlined p-3" matSuffix>box</mat-icon>
                    <mat-error *ngIf="f['comentarios']?.hasError('required')">Campo requerido</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- Mostrar mensaje de error -->
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                {{ error }}
              </div>
              <br />

              <div class="container-auth-form-btn">
                <div style="text-align: center">
                  <button
                    mat-raised-button
                    color="primary"
                    [class.auth-spinner]="loading"
                    [disabled]="loading"
                    class="auth-form-btn"
                    type="submit"
                  >Guardar Comentario
                  </button>                  
                </div>
                <!-- <button type="button" mat-raised-button class="retornar-btn" (click)="retornar()">Retornar</button> -->
              </div>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </div></mat-card
>
